<div class="main-content">
  <div class="player">
    <app-file-selector></app-file-selector>
    <audio class="player" controls="controls">
      Your browser does not support the <code>&lt;audio&gt;</code> element.
    </audio>
  </div>
  <div class="visualization original">
    <canvas></canvas>
  </div>
  <div class="effect-controls">
    <p>Select the desired <b>frequency range</b> to reflect.<br>
      The slider below stands for the <b>threshold of average loudness</b> of the range (if selected range is not loud enough, it won't be reflected).</p>
    <p><b>Shift</b> key colorizes the visualizer.</p>
    <select class="effect-picker">
      <option value="all" selected="selected">Whole range</option>
      <option value="bass">Bass only</option>
      <option value="mid">Mid range only</option>
      <option value="treble">Treble only</option>
    </select>
    <input type="range" min="0" max="255" value="128">
  </div>
  <div class="visualization modified">
    <canvas></canvas>
  </div>
</div>
