@import "../styles/constants";


.main-content {
  width: 80%;
  min-width: 20rem;
  max-width: 50rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 2rem 0 $color-dark;
  border-radius: 1rem;

  & > * {
    margin-bottom: 2rem;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
