@import "../../../../styles/constants";


.add-node {
  margin: -.5rem 0 -.5rem 55%;
  padding: .25rem 1rem .25rem .25rem;
  background-color: #ffffff;
  border: 1px solid $color-light;
  border-left: 0 none;
  position: relative;
  z-index: 1; // on top of the neighbors
  opacity: 0;
  transition: opacity 150ms ease-in;

  &:before {
    content: "";
    display: inline-block;
    width: 1.45rem;
    height: 1.45rem;
    background-color: #ffffff;
    border-left: 1px solid $color-light;
    border-bottom: 1px solid $color-light;

    position: absolute;
    top: 50%;
    transform: translate(-67%, -50%) rotate(45deg);
  }

  &:hover {
    opacity: 1;
  }


  select {
    margin: 0;
    font-size: .75rem;
    position: relative;
    z-index: 1; // on top of the neighbors

    option {
      font-size: inherit;
    }
  }
}
