@import "../../../styles/constants";
@import "../../../styles/common";


.node {
  border: 1px solid $color-dark;
  position: relative;

  // a tip arrow in the bottom
  &:not(.is-last) {
    margin-bottom: 2rem;

    &::after {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      border-right: 1px solid $color-dark;
      border-bottom: 1px solid $color-dark;
      background-color: #ffffff;

      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%, 50%) rotate(45deg);
    }
  }

  & > *:last-child {
    margin: 1rem;
  }


  header {
    @extend .clear-fix;
    padding: 0.25rem 1rem;
    background-color: $color-dark;


    .name {
      float: left;
      width: 90%;
      margin: 0;

      overflow: hidden;
      text-overflow: ellipsis;
      color: #ffffff;
    }

    .remove-button {
      float: right;
      margin: 0;
    }
  }
}
