@import "../../../../styles/constants";

.audio-destination {
  font-size: 4rem;
  color: $color-light;
  text-align: center;

  &:after {
    content: "audio output";
  }

  &.is-playing {
    &:after {
      content: "<< is playing >>";
    }
  }
}