@import "../../../../styles/constants";
@import "../../../../styles/common";


.node-wrapper {
  border: 1px solid $color-light;
  position: relative;

  // a tip arrow in the bottom
  &:not(.is-last)::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-right: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
    background-color: #ffffff;

    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, 50%) rotate(45deg);
  }


  header {
    @extend .clear-fix;
    padding: 0.25rem 1rem;
    background-color: $color-light;


    .name {
      float: left;
      width: 90%;
      margin: 0;

      overflow: hidden;
      text-overflow: ellipsis;
      color: #ffffff;
    }

    .remove-button {
      float: right;
      margin: 0;
    }
  }


  section {
    margin: 1rem;
  }
}
