<div class="node-wrapper" [class.is-last]="isLast">
  <header>
    <h4 class="name">{{node?.name}}</h4>
    <div class="remove-button" *ngIf="node?.isRemovable">
      <button (click)="onRemoveNode();">&#x2715;</button>
    </div>
  </header>
  <section [ngSwitch]="node?.type">
    <app-audio-source *ngSwitchCase="NodeTypes.AudioSourceNode"></app-audio-source>
    <app-analyser *ngSwitchCase="NodeTypes.AnalyserNode"></app-analyser>
    <app-audio-destination *ngSwitchCase="NodeTypes.AudioDestinationNode"></app-audio-destination>
    <div class="unknown" *ngSwitchDefault>Unknown node type "{{node?.type}}"</div>
  </section>
</div>
<app-add-node *ngIf="!isLast" [index]="index"></app-add-node>
